{% for category in include.data.categories %}

<h2 style="margin-top: 0">{{ category.title }}</h2>
<p>{{ category.description }}</p>

<div class="columns is-multiline" style="margin-bottom: 2em">
  {% for item in include.data.items %} {% if item.category == category.id %}

  <div
    class="column is-half"
    style="flex-direction: column; display: flex; padding-bottom: 0"
  >
    <div style="flex: 1">
      {% if item.image %}
      <figure
        class="image {% if item.imageSize %}{{ item.imageSize }}{% else %}is-3by2{% endif %}"
        style="margin: 0 0 1em 0 !important; border-radius: 5px"
      >
        <img src="{{ item.image }}" />
      </figure>
      {% endif %}

      <div class="columns is-mobile">
        {% if item.imageIcon %}
        <div class="column is-narrow">
          <figure
            class="image {% if item.imageSize %}{{ item.imageSize }}{% else %}is-96x96{% endif %}"
            style="margin: 0 0 1em 0 !important; border-radius: 5px"
          >
            <img src="{{ item.imageIcon }}" />
          </figure>
        </div>
        {% endif %}

        <div class="column">
          <h4 style="margin: 0">
            <i class="{{item.icon}}"></i> {{ item.title }}
          </h4>
          {% if item.subtitle %}
          <small
            ><strong style="opacity: 0.3">{{ item.subtitle }}</strong></small
          >
          {% endif %}

          <p style="margin: 0">
            <small> {{ item.description }} </small>
          </p>

          {% if item.url %}
          <p>
            <small>
              {% assign linkStart = item.url | slice: 0, 1 %}
              <a target="_blank" href="{{ item.url }}"
                >{% if linkStart == "/" %}{{ site.url }}{% endif %}{{ item.url
                }}</a
              >
            </small>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% unless item.noseparator %}
    <hr style="margin: 0.5em 0 0 0" />
    {% endunless %}
  </div>

  {% endif %} {% endfor %}
</div>

{% endfor %}
