<div class="container">
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Sergio García Mondaray
        &bull;
        <a href="mailto:sergio@sgmonda.com" target="_blank">sergio@sgmonda.com</a>
        &bull;
        <a href="https://github.com/sgmonda" target="_blank">GitHub</a>
        &bull;
        <a href="https://stackoverflow.com/users/972197/sgmonda" target="_blank">Stackoverflow</a>
        &bull;
        <a href="https://twitter.com/sgmonda" target="_blank">Twitter</a>
        &bull;
        <a href="https://www.instagram.com/sgmonda/" target="_blank">Instagram</a>
        <!-- &bull;
             <a href="https://sgmonda.com" target="_blank">https://sgmonda.com</a> -->
      </p>
    </div>
  </footer>
</div>
