<div class="container" id="header">
  <nav
    class="navbar is-transparent"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <a class="navbar-item" href="/"> <i class="fas fa-home"></i> </a>
      <a class="navbar-item" href="/blog"> Blog </a>
      <a class="navbar-item" href="/projects"> <i class="fas fa-flask"></i> </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start"></div>

      <div class="navbar-end">
        <div class="navbar-item">hello</div>
      </div>
    </div>
  </nav>
</div>
