<div class="container" id="header">
  <nav
    class="navbar is-transparent"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      {% for item in site.data.menu %}
      <a class="navbar-item" href="{{ item.url }}">
        <span class="icon has-tooltip-bottom" data-tooltip="{{ item.label }}">
          <i class="{{ item.icon }}"></i>
        </span>
        <span class="label">{{ item.label }}</span>
      </a>
      {% endfor %}
    </div>

    <div class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item">{{ site.title }}</div>
      </div>
    </div>
  </nav>
</div>
