* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

pre,
code {
  font-family: "Courier Prime", sans-serif;
}

body {
  min-height: 100vh;
}

.other {
  color: orange !important;
  font-family: sans-serif;
}

/* Override bulma */
.container {
  @media screen {
    max-width: 720px !important;
  }
}
body {
  padding: 0 1em !important;
}
.content {
  p {
    text-align: justify;
  }
}

#header {
  margin-bottom: 5em;
}
.footer {
  background-color: transparent !important;
  padding: 2em 0 !important;
  margin-top: 5em;
  border-top: solid 1px #f1f1f1;
}
.content ul {
  margin-left: 1.2em !important;
}
