* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

pre,
pre *,
code,
code * {
  font-family: monospace;
}

body {
  min-height: 100vh;
}

.other {
  color: orange !important;
  font-family: sans-serif;
}

/* Override bulma */
.container {
  @media screen {
    max-width: 720px !important;
  }
}
body {
  padding: 0 1em !important;
}
.content {
  p {
    text-align: justify;
  }
}

#header {
  margin-bottom: 5em;
}
.footer {
  background-color: transparent !important;
  padding: 2em 0 !important;
  margin-top: 5em;
  border-top: solid 1px #f1f1f1;
}
.content ul {
  margin-left: 1.2em !important;
}

.navbar-item {
  i {
    margin-right: 0.5em;
  }
  span {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
