@import "header";
@import "footer";

$color-primary: #009688;
$color-link: #0288d1;

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

pre,
pre *,
code,
code * {
  font-family: monospace;
}

body {
  min-height: 100vh;
}

.other {
  color: orange !important;
  font-family: sans-serif;
}

/* Override bulma */
.container {
  @media screen {
    max-width: 720px !important;
  }
}
body {
  padding: 0 1em !important;
}
.content {
  a {
    color: $color-link;
    text-decoration: underline;
  }

  p {
    text-align: justify;
  }

  ul {
    margin-left: 1.2em !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
  }

  h1 {
    font-size: 2.5em !important;
    text-align: center;
    @media (min-width: 720px) {
      padding: 0 3em !important;
    }
  }
  p.excerpt {
    @media (min-width: 720px) {
      padding: 0 3em !important;
    }
  }
  p.author-date {
    opacity: 0.5;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Condensed", "Roboto", sans-serif;
  }
  figure {
    margin: 1.5em 0 !important;
    overflow: hidden;

    img {
      width: auto !important;
      height: auto !important;
      position: absolute;
      left: 50% !important;
      top: 50% !important;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  hr {
    margin: 3em 0;
  }
  h2 {
    font-size: 2em !important;
    color: $color-primary !important;
  }
  h3 {
    font-size: 1.5em !important;
    color: #555 !important;
  }
  h4 {
    font-size: 1.3em !important;
    color: #888 !important;
  }
  h5 {
    font-size: 1em !important;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 1em;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  div.highlighter-rouge {
    margin-bottom: 1em;
  }
}
