.footer {
  background-color: transparent !important;
  padding: 2em 0 !important;
  margin-top: 5em;
  border-top: solid 1px #f1f1f1;

  .content * {
    font-family: "Roboto Condensed", "Roboto", sans-serif !important;
  }
}
