#header {
  margin-bottom: 5em;
  .navbar-item {
    .icon {
      margin-right: 0.5em;
      @media (min-width: 720px) {
        display: none !important;
      }
    }
    .label {
      font-family: "Roboto Condensed", sans-serif !important;
      font-weight: normal;
      text-transform: uppercase;
      @media (max-width: 720px) {
        display: none !important;
      }
    }
  }
}
