---
layout: default
---

<div class="columns">
  <div class="column is-narrow" style="min-width: 180px">
    <figure class="image is-square" style="margin: 0 !important;">
      <img src="/assets/img/avatar.jpg" />
    </figure>
  </div>
  <div class="column">
    <h2 class="black">Información personal</h2>
    <ul>
      <li>
        <strong>Nombre: </strong>
        Sergio García Mondaray
      </li>
      <li>
        <strong>Nick: </strong>
        @sgmonda
      </li>
      <li>
        <strong>Web: </strong>
        https://sgmonda.com
      </li>
      <li>
        <strong>Email: </strong>
        sergio@sgmonda.com
      </li>
    </ul>
  </div>
</div>

<hr style="margin-top: 0" />

<section>
  <h1>{{ site.data.skills.title }}</h1>
  <p class="excerpt">{{ site.data.skills.description }}</p>
  {% include cv-section.html data=site.data.skills %}
</section>

<section>
  <h1>{{ site.data.studies.title }}</h1>
  <p class="excerpt">{{ site.data.studies.description }}</p>
  {% include cv-section.html data=site.data.studies %}
</section>

<section>
  <h1>{{ site.data.projects.title }}</h1>
  <p class="excerpt">{{ site.data.projects.description }}</p>
  {% include cv-section.html data=site.data.projects %}
</section>
