---
layout: default
---

<div class="columns">
  <div class="column is-narrow" style="width: 10em">
    <figure class="image is-3by4" style="margin: 0 !important">
      <img src="/assets/img/avatar.jpg" />
    </figure>
  </div>
  <div class="column">
    <h2 class="black">Información personal</h2>
    <p>bla bla</p>
  </div>
</div>

<hr />

<section>
  <h1>{{ site.data.skills.title }}</h1>
  <p class="excerpt">{{ site.data.skills.description }}</p>
  {% include cv-section.html data=site.data.skills %}
</section>

<section>
  <h1>{{ site.data.studies.title }}</h1>
  <p class="excerpt">{{ site.data.studies.description }}</p>
  {% include cv-section.html data=site.data.studies %}
</section>

<section>
  <h1>{{ site.data.projects.title }}</h1>
  <p class="excerpt">{{ site.data.projects.description }}</p>
  {% include cv-section.html data=site.data.projects %}
</section>
